{% load staticfiles %}
{% block content %}
<form action="login">
  Username: <input type="text" name="username"><br>
  Password: <input name="password" type="password"><br>
  <input type="submit" value="Submit">
</form>
{% endblock %}