{% extends "base.tmpl" %}
{% load staticfiles %}
<head>
  {% block styling %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'planner/planner.css' %}">
  {% endblock %}
</head>
{% block content %}
<div class="contentContainer">
<h2 class="pagetitle">Skirms</h2>
<a class="buttonLook">Per week</a> <a class="buttonLook">Per maand</a><input id="planned_only_box" type="checkbox" name="planned_only" value="planned_only">Planned only
{% include 'sortpicker.tmpl' %}
<div id="skirmlist" class="content">
{% for skirm in skirms %}
    {% include 'skirm.tmpl' %}
{% endfor %}
</div>
</div>
{% endblock %}
<!--Checkbox: Planned only!-->