{% load staticfiles %}
<a class="outerSkirmBox" href="{% url 'planner:skirmdetailview' skirm_id=skirm.id %}">
    <div class="dateBox">
        {{ skirm.date.day }}
        {{ skirm.month_name }}
        {{ skirm.date.year }}
    </div>
    <div class="infoBox" style='float:center'>
        {{ skirm.title }}
    </div>
    <div class="plannedBox">
    </div>
</a>