<div id="outerSkirmBox">
    <div id="dateBox" style='align:left'>
        {{ skirm.date.day }}
        {{ skirm.month_name }}
        {{ skirm.date.year }}
    </div>
    <div id="infoBox">
        {{ skirm.title }}
    </div>
    <!-- Perhaps have divider here -->
    <div id="plannedBox">
    </div>
</div>