{% load staticfiles %}
<a class="outerSkirmBox" href="{% url 'planner:skirmdetailview' pk=skirm.id %}">
    <div class="dateBox">
        <div class="dateText">{{ skirm.date.day }}</div>
        <div class="dateText">{{ skirm.month_name }}</div>
        <div class="dateText">{{ skirm.date.year }}</div>
    </div>
    <div class="infoBox">
        <div class="skirmTitle">{{ skirm.title }}</div>
        <div class="skirmCity">{{ skirm.city }}</div>
    </div>
    <a class="plannedBox {% if skirm.planned %} planned {% endif %}">
        
    </a>
</a>

<script>
    <!--Start script here to either check the planned box or not! -->
</script>