.content{
    background-color: #969B96;
    border-style: solid;
    border-color: #A11616;
    width: 75em;
    height: auto;
    font-family: "Lucida Sans Unicode",'Lucida Grande', sans-serif;
    overflow:auto;
}

.contentContainer{
    width: 75em;
    margin:auto;
}

.background{
    background-color:#FFFFFF;
}

.pagetitle{
    color:black;
    font-family: "Lucida Sans Unicode",'Lucida Grande', sans-serif;
}

.buttonLook{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Sans Unicode",'Lucida Grande', sans-serif;
    display: inline-block;
    font-size: 16px;
}