<a class="outerTeamBox" href="{% url 'team:teamdetailview' pk=team.id %}">
    <div class="infoBox">
        <div class="teamTitle">{{ team.title }}</div>
        <div class="teamDescription">{{ team.description }}</div>
    </div>
</a>