{% extends "base.tmpl" %}
{% load staticfiles %}
<head>
  {% block styling %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'team/teams.css' %}">
  {% endblock %}
</head>
{% block content %}

<div id="teamHeader">
  <img id="teamImage"></img>

  <h2 id="teamTitle">{{ team.title }}</h2>
</div>
<div id="teamContent">
<div id="teamDescription">
  Hallo, dit is mijn nieuwe team, wees welkom!
</div>
  <div id="memberList">
  <div id="memberHeader"><div id="member">Members</div> <div id="role">Role</div></div>
  <div style="width: 100%;height:5px;background-color:black;"></div>
  {% for team_member in members %}
      {{ team_member.user.username }}
  {% endfor %}
  </div>
</div>
{% endblock %}