{% load static %}
<html>
<head>
  {% block styling %}
  <!--<link rel="stylesheet" href="{% static 'base.css' %}">-->
  {% endblock styling %}
</head>
<h1>Skirm planner</h1>
<div id="mySidenav" class="sidenav">
  <a class="profile_button" onclick="javascript_func()">Remco IJntema</a>
  <a href="/agenda/">Planner</a>
  <a href="/team/">Team</a>
  <a href="/settings/">Settings</a>
</div>
<body class="background">
{% block content %}{% endblock %}
</body>

</html>
