{% load static %}
<html>
<head>
  {% block styling %}
  <link rel="stylesheet" href="{% static 'base.css' %}">
  {% endblock styling %}
</head>
<div class="topbar">
  {% if user.is_authenticated %}
  <a href="{% url 'logout' %}"><div id="loginbutton">Logout</div></a>
  {% else %}
  <a href="{% url 'login' %}"><div id="loginbutton">Login</div></a>
  {% endif %}
</div>
<div class="menu">
  {% if user.is_authenticated %}
    <a class="profile_info" href="{% url 'user:profile' %}">
      <img src="{% static 'B&A1.jpg' %}" style="border-radius: 10px;display:block; margin:0 auto;width: 125px; height: 125px;"></img>
      <div id="profile_button">{{ user.first_name }} {{ user.last_name }}</div>
    </a>
  <div class="divider"></div>
  {% endif %}
  <a href="{% url 'planner:agenda' %}">Planner</a>
  <a href="{% url 'team:team' %}">Team</a>
  <a href="/settings/">Settings</a>
</div>
<body class="background">
<div class="contentContainer">
{% block content %}{% endblock %}
</div>
</body>

</html>
