{% load static %}
<html>
<head>
  {% block styling %}
  <link rel="stylesheet" href="{% static 'base.css' %}">
  {% endblock styling %}
</head>
<h1>Skirm planner</h1>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Planner</a>
  <a href="#">Team</a>
  <a href="#">Settings</a>
</div>
<body class="background">
{% block content %}{% endblock %}
</body>

</html>
